/.gradle/
/.idea/
/build/

# kotlin-js-store/yarn.lock should not be ignored for consistency of builds.

# A temporary solution to preview production distributions - should be replaced with something else later.
/server.py
